.remark-slide-content
  font-size: 32px;
  background: #000;
  color: #eee;
  padding: 1em 1em 1em 1em;
  // text-shadow: 6px 6px 8px rgba(255, 255, 255, 0.5);

  & h1, & h2, & h3
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

  & h1
    font-size: 2.8em;
  & h2
    font-size: 2em;
  & h3
    font-size: 1.6em;

  & .red
    color: #fa0000;
  & .orange
    color: #faaa00;
  & .large
    font-size: 2em;
  & .small
    font-size: 0.8em;
  & .float-right
    display: inline-block;
    float: right;

  & .hljs-comment
    color: #00aa00

  & a, & a > code
    color: #f8c;
    text-decoration: none;

  & code.remark-inline-code
    color: #0000cc;
    font-size: 24px;
    padding: 4px;

  & code
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    background: #e7e8e2;
    border-radius: 5px;
    font-size: 16px;

  & .remark-slide-number
    visibility: hidden
